body {
    background-color: rgb(196, 186, 186);
}

#headFormatter {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 60px;
}

#formatterDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#gridContainer {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr); 
    height: 650px;
    width: 650px;
    background-color: white;
    margin-right: 220px;
}

#controls {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#sizeSelector:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

#rainbowMode:active {
    animation: gradientBG 4.5s ease infinite;
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

#rainbowMode {
    transition: .3s;
    animation: gradientBG 4.5s ease infinite;
}

#title {
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Roboto", sans-serif;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
